.advantages {

	.row {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: stretch;
		flex-wrap: wrap;
	}

	.col {
		display: flex;
		flex-direction: column;
		width: 100%;
		box-sizing: border-box;
		margin-bottom: $container-outer-margin;
		@include min-width( $screen-md ) {
			width: 50%;
			padding-right: $container-outer-margin;
		}
		@include min-width( $screen-lg ) {
			width: 33.33%;
		}
	}

	.entry {
		display: flex;
		justify-content: center;
		flex-direction: column;
		background-color: #fff;
		transition: background-color .2s, color .2s, border-color .2s;
		border-radius: 1.5rem;
		padding: 1.5rem;
		border: .2rem solid $border-color;
		height: 100%;
	}

	.entry:hover {
		background-color: $brand-primary;
		color: #fff;
		text-decoration: none;
		border-color: $brand-primary;
	}

	.entry:hover path {
		fill: #fff;
	}

	.entry p {
		@extend %mt-0;
		@extend %mb-0;
		@include min-width( $screen-md ) {
			overflow: hidden;
			text-overflow: ellipsis;
			max-height: $line-height-base * 5em;
		}
		@include min-width( $screen-lg ) {
			max-height: $line-height-base * 3em;
		}
	}

	.entry svg {
		@extend %first;
		@extend %mb-1;
	}

	.entry h3 {
		@extend %mb-1;
	}

}