.aside {

	.custom-logo-link {
		max-width: 10rem;
		max-height: 10rem;
		display: block;
	}

	.widget {
		@extend %mb-3;
		box-sizing: border-box;
		width: 100%;
		@include min-width( $screen-sm ) {
			width: 50%;
			padding-left: $container-outer-margin;
		}
		@include min-width( $screen-lg ) {
			width: 25%;
		}
	}

	.widget .title {
		text-transform: uppercase;
	}

	.socials a {
		background-color: rgba( 255, 255, 255, .3 );
		filter: blur( 0 );
	}

}