//	"Хлебные крошки"
.breadcrumbs {

	ul, ol {
		list-style-type: none;	
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
	}

	li + li:before {
		content: '/';
		margin: .5rem;
	}

}