.burger {

	height: $container-outer-margin;
	background-color: transparent;
	border: none;
	position: relative;
	padding: 0;

	.bar {
		background-color: $brand-default;
		border-radius: .2rem;
		width: $container-outer-margin;
		height: .1rem;
		display: block;
		margin: $container-outer-margin / 2 0;
		width: $container-outer-margin;
	}

}