.header {

	.container {
		@extend %mt-2;
		@extend %mb-2;
		display: flex;
		align-items: center;
	}

	.custom-logo-link + .menu {
		margin-left: auto;
	}

	.menu {
		display: flex;
		list-style-type: none;
		margin-left: 0;
	}

	.menu li {
		margin: 0 1rem;
	}

	.menu a {
		@extend %lead;
		color: #fff;
	}

	.menu a:hover,
	.menu a:focus {
		text-decoration: none;
	}

	.menu a::after,
	.menu a::after {
		content: '';
		display: block;
		height: .2rem;
		background-color: transparent;
		transition: background-color .2s;
	}

	.menu li.current-menu-item a::after,
	.menu a:hover::after,
	.menu a:focus::after {
		background-color: #fff;
	}

	.burger {
		display: none;
	}

}