.header {

	.container {
		display: flex;
		margin-top: 3rem;
		margin-bottom: 3rem;
	}

	.custom-logo-link {
		max-width: 3rem;
		max-height: 3rem;
		margin-right: auto;
	}

	.menu {
		display: flex;
		list-style-type: none;
		margin-left: 0;
	}

	.menu li {
		margin: 0 .5rem;
	}

	.action {
		@extend %button;
		@extend %button-success;
	}

}