.jumbotron {

	.row {
		display: flex;
		align-items: center;
	}

	.content {
		width: 40%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.thumbnail {
		display: flex;
		width: 60%;
		padding-left: 5rem;
	}

	.thumbnail img {
		margin-left: auto;
	}

	hr {
		@extend %mt-1;
		@extend %mb-1;
		background-color: #fff;
		width: 100%;
		height: .1rem;
	}

	.permalink {
		@extend %button;
		@extend %button-success;
		@extend %mt-1;
	}

}