//- Мобильное меню
.mobilenav {

	.custom-logo-link {
		max-width: 5rem;
	}

	.close {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		margin: 2.5rem;
		width: 2.5rem;
		height: 2.5rem;
		background-color: transparent;
		border: none;
		padding: 0;
	}

	.close::before,
	.close::after {
		content: '';
		display: block;
		height: .1rem;
		background-color: #fff;
		transform-origin: center center;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin-top: -.1rem;
	}

	.close::before {
		transform: rotate( 45deg );
	}

	.close::after {
		transform: rotate( -45deg );
	}

	.menu {
		text-align: center;
		list-style-type: none;
		padding-left: 0;
	}

	.menu li + li {
		margin-top: .5rem;
	}

	.menu a {
		@extend %lead;
		display: block;
		padding: .5rem 0;
	}

	.menu a:hover {
		text-decoration: underline;
	}

	h2, h3, h4, h5 {
		color: #fff;
	}

	table tr + tr {
		border-top-color: #fff;
	}

	a {
		color: #fff;
	}

	p {
		color: #fff;
	}

	th {
		border-top-color: #fff;
		border-bottom-color: #fff;
		color: #fff;
	}

}