.offers {

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 50%;
		background-color: transparentize( $brand-primary, .85 );
		z-index: -1;
	}

	.tabs .heading {
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.tabs .heading a {
		@extend %lead;
		padding: .5rem 1rem;
		position: relative;
		box-sizing: border-box;
		color: $brand-success;
		border-radius: $border-radius;
		background-color: transparentize( $brand-success, .85 );
		margin: .5rem 0 .5rem .5rem;
		@include min-width( $screen-md ) {
			padding: 1rem 2rem;
			margin: 1rem 0 1rem 1rem;
		}
	}

	.tabs .heading a::before {
		@extend %bgi;
		content: '';
		background-color: #fff;
		margin: -0.5rem;
		z-index: -1;
		@include min-width( $screen-md ) {
			margin: -1rem;
		}
	}

	.tabs .heading a:first-of-type::before {
		border-radius: $border-radius 0 0 $border-radius;
	}

	.tabs .heading a:last-of-type::before {
		border-radius: 0 $border-radius $border-radius 0;
	}

	.tabs .heading a:last-of-type {
		margin-right: .5rem;
		@include min-width( $screen-md ) {
			margin-right: 1rem;
		}
	}

	.tabs .heading a:hover,
	.tabs .heading a:focus {
		text-decoration: none;
	}

	.tabs .heading a.active {
		color: #fff;
		background-color: $brand-success;
	}

	.slider-content {
		margin-left: auto;
		margin-right: auto;
		@include min-width( $screen-md ) {
			max-width: 60rem;
		}
	}

	.slider-content .slick-slide {
		margin: 1rem .5rem;
		@include min-width( $screen-md ) {
			margin: 2rem 1rem;
		}
	}

	.entry {
		border-radius: $border-radius;
		border: .1rem solid $border-color;
		background-color: #fff;
		padding: 0 1.25rem 1.25rem 1.25rem;
		text-align: center;
		position: relative;
		@include min-width( $screen-md ) {
			padding: 0 2.5rem 2.5rem 2.5rem;
		}
	}

	.entry .icon {
		min-width: 5rem;
		min-height: 5rem;
		margin-bottom: 1rem;
		position: relative;
	}

	.entry .icon path {
		fill: $brand-primary;
	}

	.entry .icon img {
		object-fit: cover;
		object-position: center center;
		display: block;
		width: 2.5rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform-origin: center center;
		transform: translate( -50%, -50% );
	}

	.entry .title {
		@extend %h3;
	}

	.entry .price {
		@extend %h1;
		color: $brand-primary;
	}

	.entry .excerpt {
		font-weight: bold;
	}

	.entry .description {
		text-align: initial;
		@include min-width( $screen-sm ) {
			padding-left: 2.5rem;
			padding-right: 2.5rem;
		}
	}

	.entry .permalink {
		@extend %button;
		@extend %button-success;
		display: block;
		margin-top: 1.25rem;
		@include min-width( $screen-sm ) {
			margin-top: 2.5rem;
		}
	}

}