// листалка постов / страниц
.pager {

	.item {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		font-size: 0.85em;
		font-weight: bold;
		padding: .5rem;
		border-radius: $border-radius;
		border: .1rem solid $border-color;
		transition: border-color .2s;
		@include min-width ( $screen-md ) {
			width: 50%;
		}
	}

	.item:hover {
		border-color: $brand-primary;
		text-decoration: none;
	}

	.item + .item {
		margin-left: $container-outer-margin;
	}

	.next {
		flex-direction: row-reverse;
		text-align: right;
	}
	
	.next .arrow {
		margin-left: $container-outer-margin;
	}

	.next .arrow::before {
		transform: rotate( -90deg );
	}
	

	.previous {
		flex-direction: row;
		text-align: left;
	}

	.previous .arrow {
		margin-right: $container-outer-margin;
	}
	
	.previous .arrow::before {
		transform: rotate( 90deg );
	}

	.title {
		margin: 0;
	}

	.arrow {
		@extend %xy-center;
		flex-shrink: 0;
		width: $container-outer-margin * 2;
		height: $container-outer-margin * 2;
		flex-shrink: 0;
		background-color: $brand-primary;
		border-radius: $border-radius;
	}
	
	.arrow:before {
		@extend %background-icon;
		@extend %icon;
		@extend %icon-arrow;
		content: '';
	}

}