//
	Форма поиска (searchform.php)

form.searchform.form( role='search' method='get' action='#' )  
	input.form-control( type='text' value='' name='s' placeholder='Поиск по сайту' )
	button.searchsubmit( type='submit' ) #[span.sr-only Найти]