
//
// Заголовки
//

%title {
  	@extend %mt-1;
  	@extend %mb-1;
  	font-family: $font-family-titles;
  	color: $link-color;
}

%h1 {
	@extend %title;
	font-size: 1.75rem;
	font-weight: bold;
	@include min-width( $screen-sm ) {
		font-size: 3rem;
	}
}


%h2 {
	@extend %title;
	font-size: 1.5rem;
	letter-spacing: 1px;
	position: relative;
	font-weight: 500;
	@include min-width( $screen-sm ) {
		font-size: 2rem;
	}
}

%h3 {
	@extend %title;
	font-size: 1.25rem;
	font-weight: 500;
}

%h4 {
	@extend %title;
	font-size: 1rem;
	font-weight: 500;
}

%h5 {
	@extend %title;
	font-size: 1rem;
	font-weight: normal;
	text-decoration: underline;
}

%h6 {
	@extend %title;
	font-size: 1rem;
	font-weight: normal;
}