include ../helpers/_variables
include ../helpers/_mixing
block variables
	- page.type = 'page';
doctype html
html( lang="ru" )
	include ../parts/_head
	block head
	block body
		body( class=page.type )

			block wrapper
				.wrapper#wrapper
					.wrapper__item.wrapper__item--mobilenav#mobilenav.mobilenav
						block mobilenav
							include ../parts/_mobilenav
					.wrapper__item.wrapper__item--firstscreen#firstscreen.firstscreen
						block firstscreen
							header#header.header
								block header
									include ../parts/_header
					main.wrapper__item.wrapper__item--main.main#main
						block main
							.container
								include ../parts/_content
					.wrapper__item.wrapper__item--basement.basement#fbasementooter
						aside.aside.aside#aside
							block aside
								include ../parts/_aside
						footer.footer#footer
							block footer
								include ../parts/_footer
					block enqueue
						include ../parts/_enqueue
