extend layout/_index


block variables
	- page.type = 'home';
	- page.title = 'Главная';


block firstscreen
	header#header.header
		include parts/_header
	include parts/_jumbotron


block main
	include parts/_partners
	include parts/_about
	include parts/_experience
	include parts/_advantages
	include parts/_reviews
	include parts/_offers
	include parts/_subscribe