//
	Главная страница
	О нас


section.section.section--about.about#about
	.container

		.row

			.col.content
				h2 Simple Solutions for Complex Connections
				p.excerpt.first.text-success.font-weight-bold.tt-uppercase Lorem ipsum dolor sit ame
				.description
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed donec gravida feugiat neque, ipsum faucibus. Pharetra vel suspendisse mi odio a velit feugiat sapien.
					ul.list-checked
						li #[strong High Analysis]
						li #[strong Certified Institute]
				a.permalink( href='#' ) Learn More

			.col.thumbnail
				img( src=src.userfiles+'logo.png' alt=blog.name )