//-
	Сайдбар подвала


.container.mb-1

	.row

		+widget( {} )
			figure.ml-0.mr-0.mt-0
				include _logo
			include _socials


		+widget( { title: 'Short links' } )
			ul
				li Home
				li Services
				li Screenshots
				li contact

		+widget( { title: 'Help link' } )
			ul
				li How to download
				li How it work
				li Video tutorial
				li FAQ

		+widget( { title: 'Short links' } )
			ul
				li Google Play Store
				li Apple App Store
				li Download Directly