.content
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet alias doloremque nostrum debitis commodi reiciendis id, aut, repudiandae asperiores perspiciatis pariatur labore earum quisquam vero voluptatem, in officiis magnam natus.
	figure.alignright
		a.fancybox( href=src.userfiles+'entry05.jpg' )
			img( src=src.userfiles+'entry05.jpg' alt='' width='250' )
		figcaption Iure tempora recusandae tenetur
	p Nihil provident, minus possimus error odio iure quas illo officiis id ullam quisquam molestias voluptatum tempora sequi tenetur doloremque, vitae odit. Iure tempora recusandae tenetur natus blanditiis maiores officia facilis!
	p Unde possimus culpa tempora, dicta nobis consequuntur quidem maiores necessitatibus molestiae officia mollitia eius libero, voluptatem alias nostrum ratione voluptates, excepturi magni repellat esse dolorum laborum cumque odio ducimus labore.
	h2 Заголовок второго уровня
	h3 Заголовок третьего уровня
	h4 Заголовок четвёртого уровня
	h5 Заголовок пятого уровня
	h6 Заголовок шестого уровня
	table
		thead
			tr
				th Заголовок 1
				th Заголовок 2
				th Заголовок 3
				th Заголовок 4
		tbody
			tr
				td Ячейка 1*1
				td Ячейка 1*2
				td Ячейка 1*3
				td Ячейка 1*4
			tr
				td Ячейка 2*1
				td Ячейка 2*2
				td Ячейка 2*3
				td Ячейка 2*4
			tr
				td Ячейка 3*1
				td Ячейка 3*2
				td Ячейка 3*3
				td Ячейка 3*4
			tr
				td Ячейка 4*1
				td Ячейка 4*2
				td Ячейка 4*3
				td Ячейка 4*4