//-
	Подвал сайта

.container.small

	.row

		p.col.mr-auto.copyright #[strong.author #{blog.author}] #[span.title &copy; #{blog.name}], 2021

		p.col.ml-auto.developer Разработка: #[a( href='https://ссt.pstu.edu/' ) ЦКТ ПДТУ]