//-
	Шапка сайта

.container
	
	include _logo

	ul.menu
		li.current-menu-item: a( href='home.html' ) Home
		li: a( href='singular.html' ) About
		li: a( href='archive.html' ) Contact
		li: a( href='404.html' ) Testimonial
		li: a( href='404.html' ) Priceing

	include _burger
