//-
	Шапка сайта

.container
	
	a.custom-logo-link( href='home.html' )
		img.custom-logo( src=src.userfiles+'logo.png' alt='Логотип сайта' )


	ul.menu
		li: a( href='home.html' ) Home
		li: a( href='singular.html' ) About
		li: a( href='archive.html' ) Contact
		li: a( href='404.html' ) Testimonial
		li: a( href='404.html' ) Priceing

	a.action( href='#' ) Get started

	include _burger
