//-
	Главная страница
	Первый экран


section.section.section--jumbotron#jumbotron
	.container
		.content
			h2.h1 Runs faster
			p.h2 Costs less and never breaks.
			hr
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sapien lectus sit tristique rhoncus, nisi, malesuada. Tellus consequat
		.thumbnail
			img.alignright( src=src.userfiles+'jumbotron.png' alt="" )