//-
	Мобильное меню

button.close( data-mobilenav='toggle' ) #[snan.sr-only Закрыть меню]

.text-center
	a.custom-logo-link( href='#' )
		img.custom-logo( src=src.userfiles+'logo.png' alt=blog.name )

ul.menu.mb-3.pb-3
	li.menu-item: a( href='#' ) Главная
	li.menu-item: a( href='#' ) Обо мне
	li.menu-item: a( href='#' ) Блог
	li.menu-item: a( href='#' ) Контакты

include ../forms/_search

aside.mt-3.pt-3.pb-3
	+widget( {} )
	+widget( {} )