//
	Цены и "предложения"


mixin offer( args )
	article
		h4 #{args.title}
		strong.price #{args.price}
		p #{args.excerpt}
		block
		a.permalink( href='#' ) Install Pack


section.section.section--offers.offers#offers
	.container

		h2 Without Extra Charge Choose Your Best Plan

		.tabs

			.heading
				a.button.active( role='button' href='#monthly' ) Monthly
				a.button( role='button' href='#' ) Yearly

			.content#monthly

				h3.sr-only Monthly

				+offer( { title: 'Standard', price: '$29', excerpt: 'monthly pack', icon: src.userfiles+'.png' } )
				+offer( { title: 'Standard', price: '$39', excerpt: 'monthly pack', icon: src.userfiles+'.png' } )




			.content#yearly

				h3.sr-only Yearly

				+offer( { title: 'Standard', price: '$29', excerpt: 'monthly pack', icon: src.userfiles+'.png' } )
				+offer( { title: 'Standard', price: '$39', excerpt: 'monthly pack', icon: src.userfiles+'.png' } )