nav( aria-label="..." ).pager.clearfix.mt-3.mb-1.lead.d-flex
	a.previous.pager__item.item( href="#", title="Смотреть предыдущий пост" )
		.arrow: .sr-only Смотреть предыдущий пост
		.title.h4 заголовок предыдущего поста
	a.next.pager__item.item( href="#", title="Смотреть следующий пост" )
		.arrow: .sr-only Смотреть следующий пост
		.title.h4 Заголовок следующего поста