//
	Главная странциа
	Партнёры


mixin partner( args )
	figure.entry
		img( src=args.src alt=args.title )
		figcaprion.sr-only #{args.title}


section.section.section--partners.partners#partners
	.container

		h2.sr-only Партнёры

		.row.slider-content#partners-slider

			+partner( { src: src.userfiles+'erasmus.png', title: 'erasmus' } )
			+partner( { src: src.userfiles+'metinvest.png', title: 'metinvest' } )
			+partner( { src: src.userfiles+'mon.png', title: 'Мон Украины' } )
			+partner( { src: src.userfiles+'mrpl.png', title: 'Мариуполь' } )
			+partner( { src: src.userfiles+'usaid.png', title: 'usaid' } )
			+partner( { src: src.userfiles+'ieee.png', title: 'ieee' } )

		.d-flex.center
			button.slider-arrow.prev#partners-slider-next #[span.sr-only Предыдущий слайд]
			button.slider-arrow.next#partners-slider-prev #[span.sr-only Следующий слайд]