//
	Список ссылок на профили социальных сетей

ul.socials.list-unstyled.d-flex
	li: a.facebook( href="#" ) #[span.sr-only Facebook]
	li: a.twitter( href="#" ) #[span.sr-only Twitter]
	li: a.instagram( href="#" ) #[span.sr-only Instagram]
	li: a.youtube( href="#" ) #[span.sr-only YouTube]